<div class="card">
    <img src="<%= card.img %>/img" alt="<%= card.title %>"> 
    <div class="card-container">
      <h4 class="card-title"><%= card.title %></h4>
      <p class="card-description"><%= card.text %></p>
      <p class="card-time"><%= card.ts %></p>
    </div>
</div>